@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  background-color: #EAEDED;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.carousel .slide {
  background: none !important;
}
.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #ccc !important;
}
.carousel .control-dots .dot.selected {
  background: #febd69 !important;
}
